@import 'tailwindcss';


@theme{
    --color-ButtonColor: #c0a080;
}

@layer components {
    .item-nav{
        @apply px-2 py-1 mx-1 hover:border-b hover:font-semibold;
    }

    .colorButton{
        background: #c0a080;
        color: #4a4039;
        @apply px-2 py-1 rounded-2xl ;
    }
}